

.home {
    /* background-color: #d4ebf2; */
    background-image: url("https://www.kluniversity.in/admissions/engineering/assets/img/greybg-web.jpg");
}
.home-top-text {
    padding: 40px 40px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    font-style: italic;
}
.home-top-text span{
    font-size: 60px;
}
