@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
.personal-details-page {
  height: 900px;
  padding-top: 100px;
  background-color: #accdc2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='803' height='803' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23005092'/%3E%3Cstop offset='1' stop-color='%23007cc4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.21' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
}
.personal-details-input {
  padding: 10px;
  /* width: 50%; */
  color: black;
  margin: auto;
}
.personal-details-form {
  /* padding: 30px 30px 5px; */
  float: right;
  margin: auto;
  margin-right: 0%;
  margin-bottom: 90px;
  font-family: "Lato", sans-serif;
}
.personal-details-content {
  display: flex;
}
.flex-form-wrapper {
  display: flex;
}
.flex-form-wrapper div {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .personal-details-form {
    width: 100%;
    padding: 8px;
    padding-bottom: 10px;
    margin: auto;
  }
  .personal-details-page {
    height: 1300px;
    padding-top: 30px;
    background-image: linear-gradient(160deg, #0b8cd5 0% 20%, #accdc2 20% 100%);
  }

  .personal-details-content {
    display: block;
  }
  .flex-form-wrapper {
    display: block;
  }

  .flex-form-wrapper div {
    width: 100%;
  }
}
/* end of personal details styles */

.study_details-content {
  height: 1300px;
  padding-top: 100px;
  background-color: #accdc2;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='803' height='803' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23005092'/%3E%3Cstop offset='1' stop-color='%23007cc4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.21' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
}
.study_details_wrapper {
  display: flex;
  justify-content: space-between;
}
.details-parent-div {
  width: 45%;
  margin-right: 2%;
}

.details-header-div {
  border: 2px solid rgba(156, 252, 248, 1);
  background-color: #81818f;
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );

  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.details-header-div p {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  top: 50%;
  color: black;
}
.header-div {
  border: 2px solid rgba(156, 252, 248, 1);
  background-color: #81818f;
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );

  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  /* margin: 0; */
  /* padding: 10px; */
  font-size: 20px;
  top: 50%;
  color: black;
}
.header-div div {
  cursor: pointer;
}
.details-wrapper-1 {
  padding: 15px;
}
.delete-icon-div {
  width: 10%;
  border-radius: 9px;
  padding: 15px;
}
.delete-icon-div:hover {
  background-color: cornsilk;
  color: red;
}
.single-content-parent-div {
  border: 2px solid rgba(156, 252, 248, 1);
  padding: 10px;
  justify-content: center;
  margin-bottom: 10px;
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  border-radius: 10px;
}
.single-content-vertical-div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
.single-content-vertical-div div {
  width: 90%;
  margin-left: 10px;
}
.input-element-div {
  color: #000;
  /* padding: 10px; */
  width: 100%;
  margin-bottom: 10px;
}
.delete-button {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}
.delete-button:hover {
  background-color: cornsilk;
  color: red;
}

@media only screen and (max-width: 768px) {
  .study_details-content{
    height: 1600px;
    padding-top: 30px;
    background-image: linear-gradient(160deg, #0b8cd5 0% 20%, #accdc2 20% 100%);
  }
  .study_details_wrapper{
    display: block;
  }
  .details-parent-div{
    width: 100%;
  }
  .study-details-education-div{
    padding: 15px;
  }
  .single-content-vertical-div{
    display: block;
  }
  .single-content-vertical-div div{
    width: 95%;
  }
  .delete-icon-div{
    padding: 12px;
    width: 15%;
  }
  .work-details-education-div{
    padding: 15px;
  }
}
