@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Oswald:wght@300&family=Shantell+Sans&display=swap");

.application-details {
  height: 1300px;
  padding-top: 80px;
  background-color: #accdc2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='803' height='803' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23005092'/%3E%3Cstop offset='1' stop-color='%23007cc4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.21' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
}

.application-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-1 {
  font-size: 30px;
  color: #ffffff;
  margin: 60px;
  float: left;
}

.wrapper-2 {
  font-size: 20px;
  font-weight: 300;
  width: 50%;
  float: right;
  margin-right: 5%;
  font-family: "Mukta", sans-serif;
}
.wrapper-2 li {
  font-size: 18px;
  font-weight: 300;
  padding: 5px;
}
.wrapper-2 div {
  padding: 5px;
}
.application-div {
  margin: 70px;
}
.application-div div {
  font-size: 20px;
}

#application-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 15px;
}

#application-table td,
#application-table th {
  border: 1px solid #ddd;
  padding: 10px;
}

#application-table tr {
  background-color: #f2f2f2;
}

#application-table tr:hover {
  background-color: #ddd;
}

#application-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #686a69;
  color: white;
}
.bottom-layout #prev {
  float: left;
  margin: 10px;
  color: rgb(38, 49, 143);
}
.bottom-layout #continue {
  float: right;
  margin: 10px;
  color: rgb(38, 49, 143);
}
.bottom-layout button {
  border: none;
  background: transparent;
  padding: 20px;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .application-details {
    height: 2300px;
    padding-top: 30px;
    background-image: linear-gradient(160deg, #0b8cd5 0% 14%, #accdc2 14% 100%);
  }

  .application-content-wrapper {
    display: block;
  }
  .wrapper-2 {
    width: 98%;
    margin-top: 5px;
    right: 0;
    margin-bottom: 15px;
  }
  
.wrapper-2 li {
    padding: 5px;
    margin-left: 20px;
  }
  .wrapper-2 div {
    width: 98%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .application-div {
    margin: 0;
    margin-left: 10px;
  }
  #application-table {
    width: 95%;
  }
}
