.academic-box-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

.box-content{
    position: relative;
}
.box-content:hover div .icon{
    display: block;
    color: white;
    cursor: pointer;
}
.icon{
    height: 40px;
    width: 40px;
    display: none;
    transition: display .2s ease;
}
.box-image img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.box-text{
    background-color:rgba(0, 45, 90, 0.82);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
.academic-line-text{
    display: flex;
}
.academic {
    background-color: #d4ebf2;
}
.about-info-screen{
    background-image: url("https://www.kluniversity.in/admissions/engineering/assets/img/greybg-web.jpg");
    background-repeat: repeat;
}
.hr-style{
    height:5px;
    border-bottom: 5px dotted #000;
    border-top: none;
    border-left: none;
    border-right: none;
    width:30%;
    margin:30px auto;
}
.department-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    gap: 20px;
}
.academic-department{
    width: 500px;
    align-items: center;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.academic-department-img-before{
    width: 400px;
    height: 300px;
    border-radius: 5px;
    transition: all .5s;
}
.academic-department-img-after{
    width: 160px;
    height: 120px;
}


.academic-department-text-after{
    display: block !important;
}
.academic-department-text-before{
    display: none;
}
.shortcut-div{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}
.shortcut-text{
    background-color: grey;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.highlited-shorctut-text{
    background-color: red;
    color: white;
}

.course-div{
    padding: 10px;
    margin: 40px auto;
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.course-collapse-text{
    padding: 30px;
}

@media only screen and (max-width: 768px) {
    .box-image img{
        display: none;
    }
    .academic-box-content{
        flex-direction: column;
    }
    .box-content{
        background-color: var(--navy-blue);
        height: 70px;
    }
    .box-text{
        flex-direction: row;
        justify-content: space-around;
    }
    .icon{
        display: block;
    }
    .academic-department{
        width: 420px;
    }
    .academic-department-img-after{
        width: 360px !important;
        height: 270px !important;
    }
    .academic-department-img-before{
        width: 160px;
        height: 120px;
        border-radius: 5px;
        transition: all .5s;
    }
    .academic-department-text-before{
        display: block;
    }
    .academic-department-text-after{
        display: none !important;
    }
    .course-div{
        width: 90%;
    }
}
